<div class="recover-page">
  <div class="form">
    <h2>Recover Password Form</h2>
    <form>

      <input id="email" type="text" placeholder="fulanitodetal@example.com" name="email" />

      <button type="submit" id="btnSend">Send Recover Link</button>

      <p class="message">Wanna go Back?<a href="http://localhost:8080/login">Return to Login</a></p>

    </form>
  </div>
</div>

<script>

  const btnSend = document.getElementById('btnSend');
  console.log("script del html")
  btnSend.addEventListener('click', () => {
    sendEmailtoResetPassword();
  });

  async function sendEmailtoResetPassword() {
    const email = document.getElementById('email');
    console.log("email" + email)
    const result = await fetch(`http://localhost:8080/api/Recover/sendEmail/${email.value}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      }
    });
  }


</script>