<div class="recover-page">
  <div class="form">
    <h2>Recover Password Form</h2>
    {{!-- <form action="http://localhost:8080/api/recover" method="post"> --}}
      <form>
        {{!-- <input id="email" type="text" placeholder="fulanitodetal@example.com" name="email" /> --}}

        {{!-- <input id="password" type="password" placeholder="password" name="password" /> --}}

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nueva contraseña</label>
          <input type="password" class="form-control p-2" id="password">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Repite la contraseña</label>
          <input type="password" class="form-control p-2" id="password2">
        </div>

        <button type="submit">Cambiar Contraseña</button>

        <p class="message">Wanna go Back?<a href="http://localhost:8080/login">Return to Login</a></p>

      </form>
  </div>
</div>


<script>

  const btnSend2 = document.getElementById('btnSend2');

  btnSend2.addEventListener('click', () => {
    resetPassword();
  });

  async function resetPassword() {

    const token = new URLSearchParams(window.location.search).get('token');

    console.log('token', token);

    const password = document.getElementById('password');
    const password2 = document.getElementById('password2');

    console.log('password', password.value);
    console.log('password2', password2.value);

    const result = await fetch(`http://localhost:8080/api/Recover/resetpassword/${token}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        password: password.value,
        password2: password2.value
      })
    });
  }





</script>